.nav-link {
    color: white !important;
}

.nav-pills {
    --bs-nav-pills-link-active-bg: #cf5a17 !important;
}

nav {
    background: linear-gradient(90deg, #404040 49.4%, #151515 100%);
}

.offcanvas {
    border-radius: 5% 0 0 5%;
    height: 60%;
    background: #595959 !important;
    border: 1px solid #FFFFFF !important;
}

.dropdown-menu {
    --bs-dropdown-bg: none !important;
    --bs-dropdown-border-color: none !important;
    --bs-dropdown-link-color: white !important;
}

#search-nav {
    background: none !important;
    color: #959595 !important;
    border: none !important;
    border-bottom: #959595 1px solid !important;
    border-radius: 0;
}

#search-nav::placeholder {
    color: #959595 !important;
}

/* Navbar above */
.btn {
    box-shadow: 0 0 10px 0 #00000040 !important;
    border-radius: 20px !important;
}

.btn-primary, .btn-outline-primary {
    --bs-btn-hover-bg: #cc5816 !important;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #B44E14 !important;
    --bs-btn-border-color: #151515 !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-border-color: #151515 !important;
    --bs-btn-focus-shadow-rgb: 49, 132, 253 !important;
    --bs-btn-active-color: #fff !important;
    --bs-btn-active-bg: #672b0b !important;
    --bs-btn-active-border-color: #672b0b !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: #fff !important;
    --bs-btn-disabled-bg: #7a3002 !important;
    --bs-btn-disabled-border-color: #7a3002 !important;
}

.btn-outline-primary {
    border: 4px solid #B44E14 !important;
    border-radius: 6px !important;
    height: 40px;
    margin: 0 !important;
    padding: 5px 10px !important;
    --bs-btn-hover-border-color: #151515 !important;
    --bs-btn-focus-shadow-rgb: 49, 132, 253 !important;
    --bs-btn-active-color: #fff !important;
    --bs-btn-active-bg: #672b0b !important;
    --bs-btn-active-border-color: #672b0b !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: #fff !important;
    --bs-btn-disabled-bg: #7a3002 !important;
    --bs-btn-disabled-border-color: #7a3002 !important;
}

.btn-outline-secondary {
    border: 1px solid #151515 !important;
    color: black !important;
    --bs-btn-hover-bg: #DCDCDC !important;
}

/* Main button customization */
.footer {
    background: linear-gradient(90deg, #404040 56.5%, #151515 100%);
    color: white !important;
}

/* Footer Customization */
h1, h2, h3, h4, h5, h6, a, p, button, li {
    font-family: "Poppins", sans-serif !important;
}

/* Main Customizations */
#lady-worklink {
    position: absolute;
    top: 30px;
    width: 50% !important;
    right: 0;
    z-index: -1;
}

.check-list {
    list-style-image: url("home_page/checkmark.svg")
}

/* Home page Customization */
body {
    padding: 0 !important;
    overflow: auto !important;
    background-color: #EAEAEA !important;
}

section article div {
    background-color: white;
    border-radius: 25%
}

article form input {
    width: 100%
}

.form-home {
    height: 64px !important;
    border-radius: 10px !important;
    border: 1px solid #151515 !important;
    background: #FFF !important;
}

.btn-home {
    z-index: 1 !important;
    width: 126px !important;
    height: 48px !important;
    flex-shrink: 0;
!important;
    margin-left: -9rem;
    border-radius: 10px !important;
}

/*Sign up Customization*/
.onboard-radio {
    border: 1px solid black;
    border-radius: 5px;
}

/*.onboard-radio input {*/
/*    text-align*/
/*}*/
/* On boarding Customization*/