{% extends "base.html" %}

{% block title %}Worklink{% endblock %}
{% block content %}
    <!--First Hero-->
    <section class="mb-5 py-5 mb-5">
        <div class="container-fluid col-xxl-8 p-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5 mt-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="/static/home_page/lady.png" class="d-block mx-lg-auto img-fluid"
                         alt="A freelancer holding a pen."
                         width="1954" height="1921" loading="lazy" id="lady-worklink">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Get in Touch and Start
                        Your Project Today ,,</h1>
                    <p class="lead">All your business needs and freelance
                        will be here .</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Start Now</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Carousel here W.I.P-->
    <section>
    <span class="d-flex justify-content-center my-5"><button
            class="btn btn-secondary ptn-lg px-4 me-md-2 rounded fs-4 text-center">Search on Job</button></span>
        <h1 class="text-center my-5">Find professional freelancers in all fields</h1>
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="d-flex justify-content-center">
                        <img src="/static/home_page/slide-marketing.svg" alt="" class="mx-2">
                        <img src="/static/home_page/slide-video-editing.svg" alt="" class="mx-2">
                        <img src="/static/home_page/slide-translation.svg" alt="" class="mx-2">
                        <img src="/static/home_page/slide-web-design.svg" alt="" class="mx-2">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex justify-content-center">
                        <img src="/static/home_page/slide-consulting.svg" alt="" class="mx-2">
                        <img src="/static/home_page/slide-programming.svg" alt="" class="mx-2">
                        <img src="/static/home_page/slide-engineering.svg" alt="" class="mx-2">
                        <img src="/static/home_page/slide-training.svg" alt="" class="mx-2">
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <img src="/static/home_page/arrow-back-carousel.svg" alt="">
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <img src="/static/home_page/arrow-forward-carousel.svg" alt="">
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
    <!--2nd hero -->
    <section class="mt-5">
        <div class="container-fluid col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">To Sum It Up For You ,,</h1>
                    <p class="lead">We connect freelancers with top digital and tech opportunities. Our platform
                        simplifies the job search for talented professionals and helps companies find the best talent.
                        We also offer a curated selection of freelance positions, tools for showcasing skills, and
                        industry insights to help you succeed. Additionally, we have a section for quick services on our
                        site to meet your needs more swiftly and effectively.</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Join now <img
                                src="/static/base/arrow.svg"
                                alt=""></button>
                        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Read more <img
                                src="/static/base/arrow_2.svg"
                                alt=""></button>
                    </div>
                </div>
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="/static/home_page/2nd_hero.png" class="d-block mx-lg-auto img-fluid"
                         alt="Bootstrap Themes"
                         width="1280" height="936" loading="lazy">
                </div>
            </div>
        </div>
    </section>
    <!--3rd hero-->
    <section>
        <div class="container-fluid col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="/static/home_page/3rd_hero.png" class="d-block mx-lg-auto img-fluid"
                         alt="Bootstrap Themes" width="1280"
                         height="936" loading="lazy">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Be a Freelancer with us ,,</h1>
                    <p class="lead">Create your profile on Worklink to get started. Our simple registration process
                        ensures
                        you’re up and running quickly, Fill out your profile with detailed information about your
                        expertise,
                        portfolio, and experience. Highlight what makes you unique to attract the right clients.</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <button type="button" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Read More <img
                                src="/static/base/arrow_2.svg"
                                alt=""></button>
                        <button type="button" class="btn btn-primary btn-lg px-4">Join Now <img
                                src="/static/base/arrow.svg"
                                alt=""></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--4th hero-->
    <section>
        <div class="container-fluid col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Too Easy Steps on
                        Worklink ,,</h1>
                    <p class="lead">You have your complete project that you would like to obtain through an independent
                        company. Enter the details of the project, budget, and contractual period with you who wish to
                        do so
                        and share it for free. After that, the freelancers in the projects will see a page with you, and
                        they
                        must choose the appropriate design for you to be independent and independent of the project.</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Read more <img
                                src="/static/base/arrow.svg"
                                alt=""></button>
                        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Join now <img
                                src="/static/base/arrow_2.svg"
                                alt=""></button>
                    </div>
                </div>
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="/static/home_page/5th_hero.png" class="d-block mx-lg-auto img-fluid" alt="5th image"
                         width="1280"
                         height="936"
                         loading="lazy">
                </div>
            </div>
        </div>
    </section>
    <!--5th hero-->
    <section>
        <div class="container-fluid col-xxl-8 px-4 py-5">
        <span class="d-flex justify-content-center">
            <img src="/static/home_page/line_1.svg" alt="" class="py-5">
        </span>
            <h1 class="text-center fw-bold text-body-emphasis">About worklink for companies</h1>
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-lg-6">
                    <h3 class="h3 fw-bold text-body-emphasis lh-base mb-3">Empower Your Projects with Top Freelancers,
                        Worklink connects your company with skilled freelancers to meet your needs.</h3>
                    <ul class="fs-5 fw-500 lh-sm">
                        <li class="check-list pb-1">Access Top Talent: Discover
                            professionals with the expertise you require.
                        </li>
                        <li class="check-list pb-1">Flexible Hiring Options:
                            Choose from hourly, weekly, or monthly engagements.
                        </li>
                        <li class="check-list pb-1">Streamlined Collaboration:
                            Simplify project management and communication.
                        </li>
                    </ul>
                    <p class="fs-4">Join Worklink and enhance your team with the best freelance talent available.</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">More info <img
                                src="/static/base/arrow.svg"
                                alt=""></button>
                        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Join now <img
                                src="/static/base/arrow_2.svg"
                                alt=""></button>
                    </div>
                </div>
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="/static/home_page/6th_hero.png" class="d-block mx-lg-auto img-fluid"
                         alt="Bootstrap Themes" width="1180"
                         height="822" loading="lazy">
                </div>
                <span class="d-flex justify-content-center">
            <img src="/static/home_page/line_2.svg" alt="" class="py-5">
        </span>
            </div>
        </div>
    </section>
{% endblock %}