{% extends "base.html" %}

{% block title %}Worklink{% endblock %}

{% block content %}
    <section>
        <h1 class="text-center mt-5">Join Us</h1>
        <article class="form-signin w-100 m-auto mb-5">
            <div class="container my-5">
                <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg my-5">
                    <div class="col-lg-5 p-3 p-lg-5 pt-lg-3">
                        <div class="d-flex row my-5 text-center">
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    <ul class=flashes>
                                        {% for message in messages %}
                                            <p style="color: red;">{{ message }}</p>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endwith %}
                            <div class="col">
                                <button class="btn btn-danger rounded-1 px-4 py-3 w-100 fs-5 fw-bold">
                                    <i class="bi bi-google"></i> Sign In
                                </button>
                            </div>
                            <div class="col ps-5 pe-0 ">
                                <button class="btn btn-info rounded-1 px-4 py-3 w-100 fs-5 fw-bold"
                                ><i class="bi bi-linkedin"></i> Sign In
                                </button>
                            </div>
                        </div>
                        <p class="text-center">OR</p>
                        <hr>
                        <form action="" method="post">
                            {{ form.hidden_tag() }}

                            <!-- Name and Family Name Fields -->
                            <div class="form-group row d-flex justify-content-between my-2">
                                <div class="col">{{ form.name.label }}{{ form.name(class_='form-control') }}</div>
                                <div class="col">
                                    {{ form.family_name.label }}{{ form.family_name(class_="form-control") }}</div>
                            </div>

                            <!-- Email Field -->
                            <div class="form-group mt-2 mb-4">
                                {{ form.email.label }}{{ form.email(class_='form-control') }}
                            </div>

                            <!-- Password Field -->
                            <div class="form-group mt-2 mb-4">
                                {{ form.password.label }}{{ form.password(class_='form-control', size=20) }}
                            </div>

                            <!-- Confirm Checkbox -->
                            <div class="form-group mt-2 mb-4 form-check">
                                {{ form.confirm(class_='form-check-input') }}
                                {{ form.confirm.label(class_='form-check-label') }}
                            </div>

                            <!-- Submit Button -->
                            <button type="submit" class="w-100 btn btn-primary mb-5">Join</button>
                        </form>

                    </div>
                    <div class="col-lg-5 offset-lg-1 p-0 overflow-hidden mb-5 pb-5">
                        <img class="img-fluid d-block" src="/static/sign_up_in/join_page_art.png" alt="">
                    </div>
                </div>
            </div>
        </article>
    </section>
{% endblock %}