<head>
    <title>{% block title %}{% endblock %}</title>
    <style>
        .navbar-nav .nav-link {
            color: #fff;

        }

        .navbar-nav .nav-link:hover {
            color: #CF5A17 !important;
        }

        .dropdown-menu {
            background-color: #333;
            color: white;
            padding: 15px;
        }

        .dropdown-menu li {
            list-style: none;
            padding: 5px 0;
        }

        .dropdown-menu li:hover {
            color: #CF5A17 !important;
        }
    </style>
</head>
<nav class="navbar navbar-expand-lg" style="border: 1px white solid !important;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Digital marketing & sales
                    </a>
                    <ul class="dropdown-menu w-125" aria-labelledby="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <li>Create a marketing plan</li>
                        <li>Execute an advertising campaign</li>
                        <li>Manage social media accounts</li>
                        <li>Manage an online store</li>
                        <li>SEO for a website</li>
                        <li>Marketing consultation</li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link fs-6 mx-1 fw-bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Consulting</a>
                    <ul class="dropdown-menu w-125">
                        <li>Feasibility study for a business project</li>
                        <li>Feasibility study for a website</li>
                        <li>Data analysis using SPSS statistical software</li>
                        <li>Drafting terms and conditions and usage policies</li>
                        <li>Business plan</li>
                        <li>Drafting a contract or agreement</li>
                        <li>Reviewing an employment contract</li>
                        <li>Financial statements for a project</li>
                        <li>Market and competitor analysis</li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link fs-6 mx-1 fw-bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Programming</a>
                    <ul class="dropdown-menu w-125">
                        <li>Designing an Excel Program</li>
                        <li>Designing and Programming a Landing Page</li>
                        <li>Designing and Programming a New Mobile App</li>
                        <li>Creating a WordPress Website</li>
                        <li>Programming a New Mobile App</li>
                        <li>Modifying a WordPress Website</li>
                        <li>Designing a New Mobile App</li>
                        <li>Designing and Programming an E-commerce Store</li>
                        <li>Adding Features to a Mobile App</li>
                        <li>Programming an E-commerce Store</li>
                        <li>Maintaining a Mobile App and Solving Software Issues</li>
                        <li>Designing an E-commerce Store</li>
                        <li>Converting a Website to a Mobile App</li>
                        <li>Maintaining an E-commerce Store and Solving Software Issues</li>
                        <li>Designing and Programming a Website</li>
                        <li>Software Consulting</li>
                        <li>Programming a Website</li>
                        <li>Designing a Website</li>
                        <li>Developing an Existing Website</li>
                        <li>Maintaining a Website and Solving Software Issues</li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link fs-6 mx-1 fw-bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Engineering</a>
                    <ul class="dropdown-menu w-125">
                        <li>Interior decoration design for a villa</li>
                        <li>Exterior design for a villa</li>
                        <li>Facade design for a residential building</li>
                        <li>Designing plans for a residential building</li>
                        <li>Interior decoration design for a commercial store</li>
                        <li>Exterior design for a commercial project</li>
                        <li>Facade design for a commercial project</li>
                        <li>Designing plans for a commercial building</li>
                        <li>Interior decoration design for an apartment</li>
                        <li>Quantity surveying for a project</li>
                        <li>Engineering consultation</li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link fs-6 mx-1 fw-bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Design, Video & Audio</a>
                    <ul class="dropdown-menu w-125">
                        <li>Logo Design</li>
                        <li>UI/UX Design</li>
                        <li>Visual Identity Design</li>
                        <li>Landing Page Design</li>
                        <li>Redesign of Visual Identity</li>
                        <li>Mobile App Design</li>
                        <li>Voiceover</li>
                        <li>Design Consultation</li>
                        <li>Motion Graphics Video Design</li>
                        <li>Intro/Outro Design for Videos</li>
                        <li>Marketing Image Design</li>
                        <li>Marketing Video Design</li>
                        <li>Video Editing</li>
                        <li>Resume Design</li>
                        <li>PowerPoint Presentation Design</li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link fs-6 mx-1 fw-bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Writing & Translation</a>
                    <ul class="dropdown-menu w-125">
                        <li>Article Writing</li>
                        <li>SEO-Optimized Article Writing</li>
                        <li>Writing Company Profiles</li>
                        <li>Content Translation</li>
                        <li>Marketing Content Writing</li>
                        <li>Script Writing</li>
                        <li>Product Description Writing</li>
                        <li>Resume Writing</li>
                        <li>Text Content Summarization</li>
                        <li>Audio Podcast Summarization</li>
                        <li>Video Lecture Summarization</li>
                        <li>Editorial Consultation</li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link fs-6 mx-1 fw-bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Data Entry</a>
                    <ul class="dropdown-menu w-125">
                        <li>Data Entry</li>
                        <li>Customer Service</li>
                        <li>Transcription of Files or Lectures</li>
                        <li>Transcription of Video Files or Podcasts</li>
                        <li>Secretarial or Virtual Assistant</li>
                        <li>Uploading Products to an Online Store</li>
                        <li>Technical Support Consultation</li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link fs-6 mx-1 fw-bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Training & Education</a>
                    <ul class="dropdown-menu w-125">
                        <li>Creating a Course or Training Package</li>
                        <li>Training on a Software Program</li>
                        <li>Explaining a Subject or Curriculum</li>
                        <li>Language Learning</li>
                        <li>Explaining a Programming Language</li>
                        <li>Educational Consultation</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>