<style>
    .hover-effect:hover {
        background-color: #CF5A17;
        border-radius: 50%
    }

    .dropdown-divider {
        background: #959595 !important;
    }
</style>
<nav class="navbar navbar-dark bg-dark" aria-label="Dark offcanvas navbar">
    <div class="container">
        {% if not logged.is_authenticated or request.endpoint == 'onboarding' %}
            <a class="navbar-brand d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none" href="/"><img
                    src="/static/base/logo_2.svg" alt=""></a>

        {% elif logged.is_authenticated and not request.endpoint == 'onboarding' %}
            <div class=" d-flex align-items-center mb-3 mb-md-0 me-md-auto ">
                {#            Dropdown Stuff          #}
                <div class="dropdown p-3 hover-effect">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none show"
                       data-bs-toggle="dropdown" aria-expanded="true">
                        <img src="/static/base/nav_profile.svg" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small "
                        data-popper-placement="bottom-end">
                        <li><a class="dropdown-item" href="#">{{ current_user.username }}</a></li>
                        <li><a class="dropdown-item" href="#">My Favourites</a></li>
                        <li><a class="dropdown-item" href="#">Balance</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Edit Account</a></li>
                        <li><a class="dropdown-item" href="#">Help</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                    </ul>
                </div>
                <div class="dropdown p-3 hover-effect">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none  show"
                       data-bs-toggle="" aria-expanded="true">
                        <img src="/static/base/nav_notif.svg" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                </div>
                <div class="dropdown p-3 hover-effect">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none  show"
                       data-bs-toggle="" aria-expanded="true">
                        <img src="/static/base/nav_message_box.svg" alt="mdo" width="32" height="32"
                             class="rounded-circle">
                    </a>
                </div>
                <div class="dropdown p-3 hover-effect">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none  show"
                       data-bs-toggle="" aria-expanded="true">
                        <img src="/static/base/nav_search.svg" alt="mdo" width="32" height="32"
                             class="rounded-circle">
                    </a>
                </div>
            </div>
        {% endif %}
        <ul class="nav nav-pills me-3">
            <li class="nav-item"><a href="#" class="nav-link" aria-current="page"><i class="bi bi-globe me-1"></i>العربية
            </a></li>
            <li class="nav-item"><a href="#" class="nav-link" aria-current="page">Freelancers</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Projects</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Services</a></li>
            {% if logged.is_authenticated and not request.endpoint == 'onboarding' %}
                <a href="/"><img src="/static/base/logo_2.svg" alt="" class=""></a>
            {% endif %}
            {% if not logged.is_authenticated or request.endpoint == 'onboarding' %}
                <li class="nav-item"><a href="/sign-in" class="nav-link btn btn-outline-primary mx-3 px-auto">Sign
                    in</a>
                </li>
                <li class="nav-item"><a href="/join" class="nav-link active mx-3 px-4">Join</a></li>
            {% endif %}
        </ul>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbarDark" aria-controls="offcanvasNavbarDark"
                aria-label="Toggle navigation">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 24V21.3333H28V24H4ZM4 17.3333V14.6667H28V17.3333H4ZM4 10.6667V8H28V10.6667H4Z"
                      fill="white"></path>
            </svg>
        </button>
        <div class="offcanvas offcanvas-end w-25 mb-auto" tabindex="-1" id="offcanvasNavbarDark"
             aria-labelledby="offcanvasNavbarDarkLabel" style="margin-top: 5.5%">
            <div class="offcanvas-body p-auto">
                <form class="d-flex mt-3" role="search">
                    <input class="form-control me-2" id="search-nav" type="search" placeholder="Search about..."
                           aria-label="Search">
                </form>
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    {% if not logged.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Join</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sign In</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Add a Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Freelancers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Companies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Business Gallery</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Projects
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Business</a></li>
                            <li><a class="dropdown-item" href="#">Programming</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Engineering & Architecture</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Design</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Marketing</a>
                            </li>
                            <li>
                                <a href="#" class="dropdown-item">Writing and translation</a>
                            </li>

                        </ul>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Work link
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Frequently asked questions</a></li>
                            <li><a class="dropdown-item" href="#">Guarantee your rights</a></li>
                            <li>
                                <a class="dropdown-item" href="#">Terms Of Use</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Privacy Statement</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</nav>