{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title %}Worklink{% endblock %}

{% block content %}
    <section class="my-5 ">
        <div class="d-flex row justify-content-center w-75 text-center m-auto">
            <h1 class="text-center my-5 h1 text-body-emphasis">Hello, {{ user.name }}!</h1>
            <img src="/static/onboarding/{{ img }}" alt="" class="img-fluid w-100">
        </div>
        <article class="form-signin w-75 m-auto mb-5">
            <div class="container my-5">
                <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg my-5 justify-content-center">
                    <div class="d-flex my-5 justify-content-center align-content-center mb-5 pb-5 w-75 m-auto">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul class=flashes>
                                    {% for message in messages %}
                                        <p style="color: red;">{{ message }}</p>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                        {% if current_user.onboarding == False %}
                            {{ render_form(form) }}
                        {% elif current_user.onboarding %}
                            <div class="col text-center"> <!-- Center-align content -->
                                <img src="/static/onboarding/img.webp" alt="Onboarding Complete!"
                                     class="img-fluid w-50 mx-auto d-block"> <!-- Center the image -->
                                <p>Your Account has been successfully activated.</p>
                                <a class="btn btn-primary w-75">Add your project</a>
                            </div>

                        {% endif %}
                    </div>
                </div>
            </div>
        </article>
    </section>
    {#    {{ ckeditor.load() }}#}
    {#    {{ ckeditor.config(name='biography') }}#}
{% endblock %}