{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title %}Worklink{% endblock %}

{% block content %}
    <section class="my-5 ">
        <h1 class="text-center">Hello, {{ user.name }}!</h1>
        <article class="form-signin w-75 m-auto mb-5">
            <div class="container my-5">
                <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg my-5">
                    <div class="d-flex my-5 justify-content-center align-content-center mb-5 pb-5">
                        <form action="" method="post" class="form" role="form">
                            {{ form.hidden_tag() }}
                            <div class="form-group mt-2 mb-4">{{ form.username.label }}
                                {{ form.username }}</div>
                            {{ form.account_type.label }}
                            {{ form.account_type }}
                            {{ form.button }}
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </section>
{% endblock %}