{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}



{% block title %}Worklink{% endblock %}

{% block content %}
    <section class="form-page">
        <h1 class="text-center mt-5">Sign In</h1>
        <article class="form-signin w-100 m-auto mb-5">
            <div class="container my-5">
                <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg my-5">
                    <div class="col-lg-5 p-3 p-lg-5 pt-lg-3">
                        <div class="d-flex row my-5 text-center">
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    <ul class=flashes>
                                        {% for message in messages %}
                                            <p style="color: red;">{{ message }}</p>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endwith %}
                            <div class="col">
                                <button class="btn btn-danger rounded-1 px-4 py-3 w-100 fs-5 fw-bold">
                                    <i class="bi bi-google"></i> Sign In
                                </button>
                            </div>
                            <div class="col ps-5 pe-0 ">
                                <button class="btn btn-info rounded-1 px-4 py-3 w-100 fs-5 fw-bold"
                                ><i class="bi bi-linkedin"></i> Sign In
                                </button>
                            </div>
                        </div>
                        <p class="text-center">OR</p>
                        <hr>
                        {{ render_form(form, form_inline_classes="w-100") }}

                    </div>
                    <div class="col-lg-5 offset-lg-1 p-0 overflow-hidden mb-5 pb-5">
                        <img class="img-fluid d-block" src="/static/sign_up_in/sign_in_art.png" alt="">
                    </div>
                </div>
            </div>
        </article>
    </section>
{% endblock %}